html{
    height: 100%;
}
body{
    background: linear-gradient(to right,#34e89e,#0f3443);
    background-repeat: no-repeat;
    height: 100%;
}
.outer{
    position: absolute;
    height: 600px;
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 300px);
    background: white;
    border: 10px solid #B1A4A4;
    font-size: 40px;
    text-align: center;
    line-height: 2em;
}  
.list{
    position: relative;
    height: 400px;
    width: 400px;
    left: 50px;
    background: white;
    border: 4px solid #B1A4A4;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.options{
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    width: 100%;
    height: 18%;
    border: 2px solid #b1a4a4;
    font-size: 20px;
    line-height: 3.5em;
    text-align: left;
}

.cross{
    position: relative;
    height: 40px;
    width: 40px;
    background: white;
    left: 305px;
    top: -55px;
    cursor: pointer;
}
.bar{
    position: relative;
    height: 1.5px;
    width: 20px;
    top: calc(50% - 1px);
    left: 10px;
    background: black;
    transform-origin: center;
}
.b1{
    transform: rotateZ(55deg);
}
.b2{
    transform: rotateZ(-55deg);
}
.textField{
    position: relative;
    height: 40px;
    width: 280px;
    margin-right: 40px;
    left: 0;
}
.button{
    position: relative;
    height: 45px;
}

