.heading{
    position: relative;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 60px;
}
.text_field{
    position: relative;
    top: 20px;
    box-sizing: border-box;
    padding: 5px;
    width: 250px;
    font-size: 20px;
    left: calc(50% - 125px);
}
.buttons{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}
.button{
    cursor: pointer;
    padding: 5px;
    position: relative;
    top: 70px;
    width: 200px;
}
.data{
    z-index: -10;
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
}
.image{
    position: relative;
    top: 80px;
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    background-size: cover;
}
.name{
    position: relative;
    height: 50px;
    width: 100%;
    top: 100px;
    text-align: center;
    left: 0;
    font-size: 30px;
    line-height: 50px;
}
.description{
    position: relative;
    top: 100px;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    height: 120px;
}
