body{
    background: linear-gradient(45deg, #c670ca 0%, #25a5c8 52%, #20e275 90%);
}
.star{
    color: red;
}
.outer{
    position: relative;
    top: -30px;
}
.heading{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 150px;
    text-align: center;
    font-size: 50px;
    line-height: 150px;
}
.form{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: auto;
}
.first-name{
    top: -20px;
    position: absolute;
    font-size: 20px;
    width: auto;
    left: calc(50% - 220px);
}
.first-name-space{
    position: relative;
    width: 200px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 0;
    top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: grey;
}
.last-name{
    top: -20px;
    position: absolute;
    font-size: 20px;
    width: auto;
    left: calc(50% + 20px);
}
.last-name-space{
    position: relative;
    width: 200px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 0;
    top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: grey;
}
.email{
    top: 75px;
    position: absolute;
    font-size: 20px;
    width: auto;
    left: calc(50% - 220px);
}
.email-space{
    position: relative;
    width: 440px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 0;
    top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: grey;    

}
.phone{
    top: 170px;
    position: absolute;
    font-size: 20px;
    width: auto;
    left: calc(50% - 220px);
}
.phone-space{
    position: relative;
    width: 440px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 0;
    top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: grey;
}
.password{
    top: 265px;
    position: absolute;
    font-size: 20px;
    width: auto;
    left: calc(50% - 220px);
}
#password_constraints{
    font-size: 20px;
    padding-left: 10px;
    color: red;

}
.password-space{
    position: relative;
    width: 440px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 0;
    top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: grey;
}

.red{
    position: absolute;
    z-index: 0;
    right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    top: 45px;
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 15px;
}
.events{
    position: absolute;
    left: calc(50% - 220px);
    top: 360px;
    height: auto;
    width: auto;
    font-size: 25px;    
}
.events_select{
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: grey;
    height: 40px;
    width: 260px;
    margin-top: 5px;
}
.gender-wrapper{
    position: absolute;
    left: calc(50% + 80px);
    top: 360px;
    height: auto;
    width: auto;
    font-size: 25px;    
}
.gender{
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: grey;
    height: 40px;
    width: 160px;
    margin-top: 5px;
}
.year-wrapper{
    position: absolute;
    left: calc(50% - 220px);
    top: 440px;
    height: auto;
    width: auto;
    font-size: 25px;    
}
.year{
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: grey;
    height: 40px;
    width: 240px;
    margin-top: 5px;
}
.button{
    box-sizing: border-box;
    position: absolute;
    height: 60px;
    width: 180px;
    background: violet;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 460px;
    left: calc(50% + 60px);
    cursor: pointer;
}
